# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment and dependencies
.env
venv/
env/
ENV/
build/
dist/
*.egg-info/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Project specific
assets/characters/*.inp
assets/characters/*.inx
assets/props/**/*.png
!assets/characters/.gitkeep
!assets/props/.gitkeep
